body {
    background-color: #282c35;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f2229;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
}

h1 {
    margin: 0;
    margin-right: 300px; /* Adjust spacing between h1 and date-time if needed */
}


#current-date-time-container {
    text-align: center;
    flex-grow: 1; /* Make the container take up available space to center its content */
}

#current-date-time {
    margin: 0;
}
main {
    padding: 20px;
}

#weather-data {
    background-color: #363b45;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    text-align: center;
}

#week-forecast {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

#city-name {
    margin-top: 0;
    text-align: center;
}

#temperature,
#description {
    margin-bottom: 10px;
    text-align: center;
}

#week-forecast li {
    flex: 1;
    padding: 8px;
    background-color: #565e6e;
    border-radius: 5px;
    margin-right: 5px;
}

#week-forecast li:hover {
    background-color: #555a64;
}

@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .header-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%; /* Take up the full width */
    }
    
    h1 {
        flex: 1;
    }

    #search-container {
        display: flex;
        justify-content: center; /* Center items horizontally */
        align-items: center;
        margin-top: 10px; /* Add space between header content and search container */
    }

    #search-input {
        padding: 12px;
        margin-right: 10px;
        border-radius: 5px;
        width: auto; /* Allow the input to take its natural width */
    }
    
    #search-button {
        padding: 12px;
        border-radius: 5px;
        cursor: pointer;
    }

    #past-searches {
        text-align: center;
        margin: 0 auto;
    
    }

    #past-search-list {
        margin: 0 auto;
    }


    #week-forecast {
        flex-direction: column;
    }

    #week-forecast li {
        margin-bottom: 10px;
    }
}

#search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 20px;
}

#search-input {
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px; /* Rounded corners */
}

#search-button {
    padding: 8px;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
}

#past-searches {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 30px;
}

#past-searches h3 {
    margin: 0;
    flex-basis: 100%;
}

#past-search-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#past-search-list li {
    background-color: #555a64;
    border: 1px solid #464b56;
    padding: 8px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
}

#past-search-list li:hover {
    background-color: #464b56;
}
